# Configuration MongoDB
MONGO_URI=mongodb://localhost:27017/fitness-tracker

# JWT Configuration
JWT_SECRET=changez-ce-secret
JWT_EXPIRE=30d

# Port du serveur
PORT=8080

# URL publique du backend (utilisée pour générer les liens /uploads en production)
BACKEND_URL=http://localhost:8080

# Environnement
NODE_ENV=development
